/******************************tag selections****************************/


h1{
  color:red;
  font-size: 200px;
}

img:hover{
  background-color: gold;
}


/*******************************class selections*************************/

.bacon{
  background-color: green;
}

.pizza{
  background-color: red;
}

.circular{
  border-radius: 100%;
}


/******************************id selectors******************************/
#heading {
  color: blue;
}
